<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_BKM00720Service">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://smartmtinterface.cpf.co.th/BKM00720Service.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_BKM00720Service"
                contract="ServiceReference1.BKM00720Service" name="CustomBinding_BKM00720Service" />
        </client>
    </system.serviceModel>
</configuration>