<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Motion_Detection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Motion_Detection.Properties.Settings>
            <setting name="LogPath" serializeAs="String">
                <value>C:\BHM\BO23 Kiosk\Log\Motion Detection</value>
            </setting>
        </Motion_Detection.Properties.Settings>
    </applicationSettings>
</configuration>